@model IQueryable<Teacher>

@{
    string strTitle = "Your Schedule, Teacher";
    ViewBag.Title = strTitle;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    @await Html.PartialAsync("ScriptsPartial")
    <link href="../css/lstyle.css" rel="stylesheet" type="text/css">
    <title>studentSchedule</title>
</head>
<body>
    <div class="nav-item">
        <form asp-area="" asp-controller="Account" asp-action="Logout" class="nav-link contacts" method="post">
            <a class="nav-link contacts logout buttonss" role="button" aria-pressed="true">
                <input type="submit" value="Выход">
            </a>
        </form>
    </div>

    <div class="container">
        <p class="d-flex justify-content-center fio">Добрый день, ФИО!</p>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-11 colorweek">
                <div class="d-flex flex-row weekday">
                    <a class="block" href="#">Понедельник</a>
                    <a class="block" href="#">Вторник</a>
                    <a class="block" href="#">Среда</a>
                    <a class="block" href="#">Четверг</a>
                    <a class="block" href="#">Пятница</a>
                    <a class="block" href="#">Суббота</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container tabmarg">
        <table class="table">

            <thead class="wrap-tr">

                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Время</th>
                    <th scope="col">Дисциплина</th>
                    <th scope="col">Курс/Группа</th>
                    <th scope="col">Аудитория</th>
                    <th scope="col">Формат</th>
                    <th scope="col"></th>
                </tr>

            </thead>
            <tbody class="backgr">
                <tr>
                    <th scope="row">1</th>
                    <td>9.00-10.20</td>
                    <td>Технологии программирования</td>
                    <td>3/6+7ПИ</td>
                    <td>505</td>
                    <td>Лаб</td>
                    <td><a href="./note.html"><img src="~/images/notes.png" alt="" width="31px" height="31px"></a></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>9.00-10.20</td>
                    <td>Технологии программирования</td>
                    <td>3/6+7ПИ</td>
                    <td>505</td>
                    <td>Лаб</td>
                    <td><a href="./note.html"><img src="~/images/notes.png" alt="" width="31px" height="31px"></a></td>
                </tr>

                <tr>
                    <th scope="row">3</th>
                    <td>9.00-10.20</td>
                    <td>Технологии программирования</td>
                    <td>3</td>
                    <td>117</td>
                    <td>Лекция</td>
                    <td><a href="./note.html"><img src="~/images/notes.png" alt="" width="31px" height="31px"></a></td>
                </tr>

                <tr>
                    <th scope="row">4</th>
                    <td>9.00-10.20</td>
                    <td>Технологии программирования</td>
                    <td>3/1+5КБ</td>
                    <td>117</td>
                    <td>Лаб</td>
                    <td><a href="./note.html"><img src="~/images/notes.png" alt="" width="31px" height="31px"></a></td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>9.00-10.20</td>
                    <td>Технологии программирования</td>
                    <td>3/1+5КБ</td>
                    <td>117</td>
                    <td>Лаб</td>
                    <td><a href="./note.html"><img src="~/images/notes.png" alt="" width="31px" height="31px"></a></td>
                </tr>
            </tbody>

        </table>
    </div>
</body>
</html>
