@model IQueryable<Lesson>
    
@{
    string strTitle = "AdminPanel";
    ViewBag.Title = strTitle;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    @await Html.PartialAsync("ScriptsPartial")
    <link href="~/css/mstyle.css" rel="stylesheet">

</head>
<body>

    <div class="nav-item">
        <form asp-area="" asp-controller="Account" asp-action="Logout" class="nav-link contacts" method="post">
            <a class="nav-link contacts logout buttonss" role="button" aria-pressed="true">
                <input type="submit" value="Выход">
            </a>
        </form>
    </div>
    <div class="fieldAdmin">
        <h>Пожалуйста, выберите курс и группу для взаимодействия с расписанием <p></h>
        <form class="form-inline">
            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                <option selected>Выберите курс</option>

                @if (Model.Any())
                {
                    @foreach (Lesson entity in Model)
                    {
                        <option asp-area="Admin" asp-controller="Services" asp-action="Index" asp-route-id="@entity.Id">

                            @($"{entity.numCourse}")

                        </option>
                    }
                }
            </select>
            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                <option selected>Выберите группу</option>
                @if (Model.Any())
                {
                    @foreach (Lesson entity in Model)
                    {
                        <option asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="@entity.Id">

                            @($"{entity.numGroup}")

                        </option>
                    }
                }
            </select>
        </form>
        <div>
        <form asp-area="Admin" asp-controller="Lessons" asp-action="Edit">
            <a role="button" aria-pressed="true">
                <input type="submit" value="Редактировать расписание">
            </a>
        </form>
        <form asp-area="Admin" asp-controller="Sched" asp-action="IndexSched" method="post">
            <a role="button" aria-pressed="true">
                <input type="submit" value="Просмотр расписания">
            </a>
        </form>
        </div>
    </div>
</body>
</html>