<!DOCTYPE html>
<html lang="en">
<head>

    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("CssPartial")
    @await Html.PartialAsync("ScriptsPartial")
</head>
<body>
    <nav class="navbar navbar-expand-sm">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand logo" href="./account/login">
                <img src="~/images/schedule_stady.png" alt="" width="84.1"
                     height="61">
                Расписание
            </a>

            <!-- Links -->

            <div class="justify-content-end">
                <ul class="navbar-nav ">

                    <!-- Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle contacts" href="#" id="navbardrop" data-toggle="dropdown">
                            <img src="~/images/phone-call.png" alt="" width="32" height="30">
                            Контакты
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="https://rfe.bsu.by/">rfe.bsu.by</a>
                            <a class="dropdown-item" href="rfe@bsu.by">rfe@bsu.by</a>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    @RenderBody()
    



</body>
</html>
