@model Lesson

    @{
        string strTitle = "AdminPanel";
        ViewBag.Title = strTitle;
    }

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        @await Html.PartialAsync("ScriptsPartial")
        <link href="~/css/mstyle.css" rel="stylesheet">
    </head>
    <body>
        <div class="nav-item">
            <form asp-area="" asp-controller="Account" asp-action="Logout" class="nav-link contacts" method="post">
                <a class="nav-link contacts logout buttonss" role="button" aria-pressed="true">
                    <input type="submit" value="Выход">
                </a>
            </form>
        </div>
        @*<script src="~/js/ckeditor_4.17.1_standard/ckeditor/ckeditor.js"></script>*@

        <div>
            <form  asp-area="Admin" asp-controller="Lessons" asp-action="Edit" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="Id" />
                @*<input type="hidden" asp-for="nameLesson" />*@
                @*<input type="hidden" asp-for="TName" />*@

                <div asp-validation-summary="All"></div>
                <div class="div-box">
                    <label asp-for="numLesson"></label>
                    <input asp-for="numLesson" />
                    <span asp-validation-for="numLesson"></span>

                    <label asp-for="timeLesson"></label>
                    <input asp-for="timeLesson" />
                    <span asp-validation-for="timeLesson"></span>
                    <label asp-for="nameLesson"></label>
                    <input asp-for="nameLesson" />
                    <span asp-validation-for="nameLesson"></span>
                </div>
                <div class="div-box">
                    <label asp-for="TName"></label>
                    <input asp-for="TName" />
                    <span asp-validation-for="TName"></span>
                    <label asp-for="lectureHall"></label>
                    <input asp-for="lectureHall" />
                    <span asp-validation-for="lectureHall"></span>
                    <label asp-for="Format"></label>
                    <input asp-for="Format" />
                    <span asp-validation-for="Format"></span>
                </div>
                <input type="submit" value="Сохранить" />
            </form>
        </div>

        @*<script>
            window.onload = function() {
                var newCKEdit = CKEDITOR.replace('@Html.IdFor(x=>x.TName)');
                newCKEdit.updateElement();
            }
        </script>*@
        </body>
</html>

